---
name: Actionlint
permissions:
  contents: read
on:
  pull_request:
  merge_group:
jobs:
  actionlint:
    runs-on: ubuntu-24.04
    permissions:
      contents: read
      statuses: write
    steps:
      - uses: actions/checkout@93cb6efe18208431cddfb8368fd83d5badbf9bfd  # v5.0.1
      - uses: reviewdog/action-actionlint@437bbe918b0d29544cbf9e8b1d63fe6f4e7a881d  # v1.69.0
        with:
          fail_level: any
          filter_mode: nofilter
