---
name: Actionlint
permissions:
  contents: read
on:
  pull_request:
  merge_group:
jobs:
  actionlint:
    runs-on: ubuntu-24.04
    permissions:
      contents: read
      statuses: write
    steps:
      - uses: actions/checkout@93cb6efe18208431cddfb8368fd83d5badbf9bfd  # v5.0.1
      - uses: reviewdog/action-actionlint@83e4ed25b168066ad8f62f5afbb29ebd8641d982  # v1.69.1
        with:
          fail_level: any
          filter_mode: nofilter
