---
name: pr-build-and-test
permissions:
  contents: read
on:
  pull_request:
    branches: ["main"]
jobs:
  pr-build-and-test:
    runs-on: ubuntu-24.04
    strategy:
      fail-fast: false
      matrix:
        modules:
          - cmd/github-actions-digest-pinner
          - internal/finder
          - internal/ghclient
          - internal/parser
          - internal/updater
    steps:
      - uses: actions/checkout@93cb6efe18208431cddfb8368fd83d5badbf9bfd  # v5.0.1
      - uses: actions/setup-go@7a3fe6cf4cb3a834922a1244abfce67bcef6a0c5  # v6.2.0
        with:
          cache: true
          cache-dependency-path: '**/go.sum'
          go-version: '1.25'
      - run: go build -v .
        working-directory: ${{matrix.modules}}
      - run: go test -v .
        working-directory: ${{matrix.modules}}
