---
name: Golanglint
permissions:
  contents: read
on:
  pull_request:
jobs:
  Golanglint:
    runs-on: ubuntu-24.04
    permissions:
      contents: read
      statuses: write
    strategy:
      fail-fast: false
      matrix:
        modules:
          - cmd/github-actions-digest-pinner
          - internal/finder
          - internal/ghclient
          - internal/parser
          - internal/updater
    steps:
      - uses: actions/checkout@93cb6efe18208431cddfb8368fd83d5badbf9bfd  # v5.0.1
      - uses: reviewdog/action-golangci-lint@f9bba13753278f6a73b27a56a3ffb1bfda90ed71 # v2.8.0
        with:
          filter_mode: nofilter
          fail_level: any
          workdir: ./${{matrix.modules}}
