---
name: Markdownlint
permissions:
  contents: read
on:
  pull_request:
  merge_group:
jobs:
  markdownlint:
    runs-on: ubuntu-24.04
    permissions:
      contents: read
      statuses: write
    steps:
      - uses: actions/checkout@93cb6efe18208431cddfb8368fd83d5badbf9bfd  # v5.0.1
      - uses: reviewdog/action-markdownlint@3667398db9118d7e78f7a63d10e26ce454ba5f58  # v0.26.2
        with:
          fail_level: any
          filter_mode: nofilter
