---
name: Yamllint
permissions:
  contents: read
on:
  pull_request:
  merge_group:
jobs:
  yamllint:
    runs-on: ubuntu-24.04
    permissions:
      contents: read
      statuses: write
    steps:
      - uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd  # v6.0.2
      - uses: reviewdog/action-yamllint@f01d8a48fd8d89f89895499fca2cff09f9e9e8c0  # v1.21.0
        with:
          fail_level: any
          filter_mode: nofilter
