---
name: Release

on:
  push:
    branches:
      - main
  workflow_dispatch:

permissions:
  contents: write
  pull-requests: write
  issues: write

jobs:
  versioning:
    runs-on: ubuntu-latest
    outputs:
      new_release: ${{ steps.set-outputs.outputs.new_release }}
      tag_name: ${{ steps.set-outputs.outputs.tag_name }}
    steps:
      - uses: actions/create-github-app-token@29824e69f54612133e76f7eaac726eef6c875baf  # v2.2.1
        id: app_token
        with:
          app-id: ${{ secrets.APP_ID }}
          private-key: ${{ secrets.APP_PRIVATE_KEY }}

      - uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd  # v6.0.2
        with:
          fetch-depth: 0
          token: ${{ steps.app_token.outputs.token }}

      - uses: googleapis/release-please-action@16a9c90856f42705d54a6fda1823352bdc62cf38  # v4.4.0
        id: rp
        with:
          release-type: go
          token: ${{ steps.app_token.outputs.token }}

      - name: Set outputs
        id: set-outputs
        run: |
          {
            echo "new_release=${{ steps.rp.outputs.release_created }}";
            echo "tag_name=${{ steps.rp.outputs.tag_name }}";
          } >> "$GITHUB_OUTPUT"

  release:
    name: Create Release
    needs: versioning
    if: ${{ needs.versioning.outputs.new_release == 'true' }}
    runs-on: ubuntu-latest
    steps:
      - uses: actions/create-github-app-token@29824e69f54612133e76f7eaac726eef6c875baf  # v2.2.1
        id: app_token
        with:
          app-id: ${{ secrets.APP_ID }}
          private-key: ${{ secrets.APP_PRIVATE_KEY }}

      - uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd  # v6.0.2
        with:
          fetch-depth: 0
          ref: ${{ needs.versioning.outputs.tag_name }}
          token: ${{ steps.app_token.outputs.token }}

      - uses: actions/setup-go@7a3fe6cf4cb3a834922a1244abfce67bcef6a0c5  # v6.2.0
        with:
          go-version: '1.26'

      - name: Run GoReleaser
        uses: goreleaser/goreleaser-action@e435ccd777264be153ace6237001ef4d979d3a7a  # v6.4.0
        with:
          distribution: goreleaser
          version: v2.9.0
          args: release --clean
        env:
          GITHUB_TOKEN: ${{ steps.app_token.outputs.token }}
